{% extends "../pages/dashboard.twig" %} 

{% block style %}
<link rel="stylesheet" href="/assets/styles/dashboard.css">
<link rel="stylesheet" href="/assets/styles/addEmployee.css" />
{% endblock %} 

{% block div %}
<div class="form__ctn">
    <form method="post" {% if employee %} action="/updateEmployee/{{employee.id}}" {% else %} action= "/addEmployee" {% endif %}>
        <div id="ImgNameFirstName">
            <img src="/assets/img/token.png" alt="token" />
            <div class="name__ctn">
            <input type="text" name="employeeName" id="employeeName" placeholder="Nom" {% if employee %} value={{employee.employeeName}} {% endif %}/>
            <input
                type="text"
                name="employeeFirstName"
                id="employeeFirstName"
                placeholder="Prénom"
                {% if employee %}
                value={{employee.employeeFirstName}}
                {% endif %}
            /></div>
            
        </div>
        <div class="position__ctn"> <input type="text" name="employeePosition" id="employeePosition" placeholder="Poste" {% if employee %} value={{employee.employeePosition}}  {% endif %}/></div>
    
        <div class="details">
            <input type="text" name="employeeSalary" id="employeeSalary" placeholder="Salaire" {% if employee %} value={{employee.employeeSalary}}  {% endif %}/>
            <span>|</span>
            <input type="text" name="employeeStatu" id="employeeStatu" placeholder="Statu" {% if employee %} value={{employee.employeeStatu}}  {% endif %}/>
        </div>

       <div class="action__box">
            <div class="blame__ctn">
                {% if (employee.employeeBlame == 0) %}
                    <img src="/assets/img/blame-grey.png" alt="blame-grey" id="blame">  
                {% elseif (employee.employeeBlame == 1) %}
                <a href="/decreaseBlame/{{ employee.id }}">
                    <img src="/assets/img/blame-orange.png" alt="blame-orange" id="blame">  
                </a>
                {% elseif (employee.employeeBlame == 2) %}
                <a href="/decreaseBlame/{{ employee.id }}">
                    <img src="/assets/img/blame-red.png" alt="blame-red" id="blame">  
                </a>
                {% else %}
                    <img src="/assets/img/blame-grey.png" alt="blame-red" id="blame">  
                {% endif %}
             {% if (employee.employeeBlame > 1) and employee %}
            <div class="blame__span">
                <span>-</span>
            </div>
             {% endif %}
            </div>
            <div class="valid_delete__ctn">
           
            <div class="delete">
                <a {% if employee %} href="/deleteEmployee/{{employee.id}}" {% else %}  href="/dashboard" {% endif %}>
                    <img src="/assets/img/XCircle.png" alt="delete" id="delete">
                </a>
            </div>
            <div class="add">
                <button type="submit" id="validate__btn">
                    <img src="/assets/img/CheckCircleOutline.png" alt="validate" id="validate">
                </button>
            </div>
            </div>
           <div class="surveillance__ctn">
                {% if (employee.employeeBlame == 0) %}
                    <img src="/assets/img/Surveillance.png" alt="surveillance" id="surveillance" />
                {% elseif (employee.employeeBlame == 1) %}
                    <img src="/assets/img/surveillance-orange.png" alt="surveillance" id="surveillance" />
                {% elseif (employee.employeeBlame == 2) %}
                    <img src="/assets/img/surveillance-red.png" alt="surveillance" id="surveillance" />
                {% else %}
                    <img src="/assets/img/Surveillance.png" alt="surveillance" id="surveillance" />
                {% endif %}
                
            </div>    
            
        </div>
        
    </form>
</div>

{% endblock %}

