{% extends "../base.twig" %}

{% block style %}
<link rel="stylesheet" href="./assets/styles/dashboard.css">
{% endblock %}


{% block main %}
<main>
    <h4>Liste des employés</h4>
    <div class="filter__box">
  
        <label for="filter__box">Filtre :</label>
        <select name="filter" id="filter__box">
            <option value="poste">Poste</option>
            <option value="salary">Salaires</option>
            <option value="salary">Nom A-Z</option>
        </select>
    </div>
    <div class="logo__add">
        <a href="/addEmployee" class="add__employee">
        <img src="./assets/img/Logo-Add.png" alt="add" />
        <span> Ajouter un employé </span>
        </a>
    </div>
    <section class="cardsBox">
    {% block div %}
     {% endblock %}
     {% for employee in user.employeeList %}
     <div class="form__ctn">
        <div id="ImgNameFirstName">
            <img src="./assets/img/token.png" alt="token" />
            <div class="name__ctn">
            <p>Nom : {{ employee.employeeName }}</p>
            <p>{{ employee.employeeFirstName }}</p>
        </div>
        </div>
        <div class="position__ctn"><span id="employeePosition">{{ employee.employeePosition }}</span></div>
    
        <div class="details">
            <p>{{ employee.employeeSalary }}</p>
            <span>|</span>
            <p>{{ employee.employeeStatu }}</p>
        </div>

        <div class="action__box">
         <div class="blame__ctn">
                <a>
                    <img src="./assets/img/blame-grey.png" alt="blame-grey" id="blame">
                </a>    
            </div>
            </div>
            <div class="surveillance__ctn">
                <a>
                    <img src="./assets/img/Surveillance.png" alt="surveillance" id="surveillance">
                </a>
            </div>       
        </div>
</div>
     {% endfor %}
        <div class="cards"></div>
    </section>
   
</main>
{% endblock %}