{% extends "../base.twig" %}

{% block style %}
 <link rel="stylesheet" href="/assets/styles/dashboard.css">
{% endblock %}



{% block main %}
<main>
    <h4>Liste des employés</h4>
    <div id="filter__box">
        <label for="filter__box">Filtre :</label>
        <select name="filter" id="filter__ctn">
            <option value="none">Choisir</option>
            <option value="position">Poste</option>
            <option value="name">Nom</option>
        </select>
{% block scripts %}
    <script>
      let filter = document.getElementById('filter__ctn');
      filter.addEventListener("change", () => {
            let filterValue = filter.value;
            console.log("heelo")
            console.log(filter.value)
            if (filterValue === 'name') {
                window.location.href = '/dashboard/filterName?filter=name';
            } else if (filterValue === "position") {
                window.location.href = '/dashboard/filterPosition?filter=position'; 
            }else {
               window.location.href = "/dashboard"
            }
      });
    </script>
{% endblock %}
    </div>

    {% include "../components/userProfil.twig" %}
    
    <div class="logo__add">
        <a href="/addEmployee" class="add__employee">
            <img src="/assets/img/Logo-Add.png" alt="add" id="add__img" />
            <span id="add__employeeText"> Ajouter un employé </span>
        </a>
    </div>
      
     
    <section class="cardsBox">
     {% block div %}
     {% endblock %}
     {% for employee in user.employeeList %}
     <div class="form__ctn">
        <div id="ImgNameFirstName">
            <img src="/assets/img/uploads/{{employee.employeeImg}}" alt="token" />
            <div class="name__ctn">
            <p>{{ employee.employeeFirstName }}</p>
            <p>{{ employee.employeeName }}</p>
            
        </div>
        </div>
        <div class="position__ctn"><span id="employeePosition">{{ employee.employeePosition }}</span></div>
    
        <div class="details">
            <p>{{ employee.employeeSalary }}</p>
            <span>|</span>
            <p>{{ employee.employeeStatu }}</p>
        </div>

        <div class="action__box">
            <div class="blame__ctn">
                {% if (employee.employeeBlame == 0) %}
                <a href="/addBlame/{{ employee.id }}">
                    <img src="/assets/img/blame-grey.png" alt="" id="blame">  
                </a>
                {% elseif (employee.employeeBlame == 1) %}
                <a href="/addBlame/{{ employee.id }}">
                    <img src="/assets/img/blame-orange.png" alt="" id="blame">  
                </a>
                {% elseif (employee.employeeBlame == 2) %}
                <a href="/addBlame/{{ employee.id }}">
                    <img src="/assets/img/blame-red.png" alt="" id="blame">  
                </a>
                {% else %}
                 <a href="/addBlame/{{ employee.id }}">
                    <img src="/assets/img/blame-grey.png" alt="" id="blame">  
                </a>
                {% endif %}
        
            </div>
            <div class="modify__ctn">
                <a href="/modifyEmployee/{{employee.id}}" id="modify__link">
                    <img src="/assets/img/Modify.png" alt="modif" id="modify">
                </a>
            </div>
            <div class="surveillance__ctn">
                {% if (employee.employeeBlame == 0) %}
                    <img src="/assets/img/Surveillance.png" alt="surveillance" id="surveillance" />
                {% elseif (employee.employeeBlame == 1) %}
                    <img src="/assets/img/surveillance-orange.png" alt="surveillance" id="surveillance" />
                {% elseif (employee.employeeBlame == 2) %}
                    <img src="/assets/img/surveillance-red.png" alt="surveillance" id="surveillance" />
                {% else %}
                    <img src="/assets/img/Surveillance.png" alt="surveillance" id="surveillance" />
                {% endif %}
                
            </div>       
        </div>
</div>
     {% endfor %}
        <div class="cards"></div>
    </section>
   
</main>
{% endblock %}